body {
    margin: 0;
    font-family: "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #ffffff;
}

.navbar--logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar--logo {
    width: 32px;
}

.form {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    gap: 25px;
    padding: 25px;
}

.section {
    display: flex;
    flex-direction: column;
}

.form--label {
    color: #374151;
}

.form--input {
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    font-family: "Karla", sans-serif;
}

.generate-btn {
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    grid-column: 1 / -1;
    cursor: pointer;
    font-family: "Karla", sans-serif;
}

.temp-div {
    background-color: #A818DA;
}

.meme-container {
    padding-inline: 25px;
    display: flex;
    justify-content: center;
    position: relative;
}

.meme {
    width: 100%;
    border-radius: 5px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}